* text=auto !eol
etc/ecamera.cfg -text
etc/gcamera.cfg -text
etc/lco.cfg -text
python/__init__.py -text
python/gcameraICC/Commands/CameraCmd.py -text
python/gcameraICC/Commands/__init__.py -text
python/gcameraICC/Controllers/BaseCam.py -text
python/gcameraICC/Controllers/__init__.py -text
python/gcameraICC/Controllers/alta.i -text
python/gcameraICC/Controllers/alta.py -text
python/gcameraICC/Controllers/altacam.py -text
python/gcameraICC/Controllers/andor.py -text
python/gcameraICC/Controllers/andorcam.py -text
python/gcameraICC/Controllers/makefile -text
python/gcameraICC/GcameraICC.py -text
python/gcameraICC/__init__.py -text
python/gcameraICC/ecameraICC_main.py -text
python/gcameraICC/gcameraICC_main.py -text
python/gcameraICC/keydict.py -text
/setup.py -text
test_gcameraICC/gcameraTester.py -text
test_gcameraICC/test_CameraCmd.py -text
test_gcameraICC/test_gcameraICC.py -text
ups/gcameraICC.table -text
