* text=auto !eol
etc/ecamera.cfg -text
etc/gcamera.cfg -text
python/__init__.py -text
python/gcameraICC/Commands/CameraCmd.py -text
python/gcameraICC/Commands/__init__.py -text
python/gcameraICC/GcameraICC.py -text
python/gcameraICC/__init__.py -text
python/gcameraICC/alta/__init__.py -text
python/gcameraICC/alta/alta.i -text
python/gcameraICC/alta/alta.py -text
python/gcameraICC/alta/altacam.py -text
python/gcameraICC/alta/makefile -text
python/gcameraICC/ecameraICC_main.py -text
python/gcameraICC/gcameraICC_main.py -text
python/gcameraICC/keydict.py -text
/setup.py -text
test_gcameraICC/gcameraTester.py -text
test_gcameraICC/test_CameraCmd.py -text
test_gcameraICC/test_gcameraICC.py -text
ups/gcameraICC.table -text
